@{
    ViewData["Title"] = "Home Page";
}




<div class="row">

    <div class="col-md-4">
        <a href="/"><h1>Account</h1></a>
    </div>

    <div class="col-md-4">
        <a href="/"><h1>Dashboard</h1></a>
    </div>

    <div class="col-md-4">
        <a href="/"><h1>CMS</h1></a>
    </div>


</div>